{% extends 'layout.html.twig' %}
{% set active = 'map' %}
{% set title = 'Map of the race'|trans() %}
{% set extra_meta = 'Map of the race'|trans() %}

{% block container_content %}
{#<div id="map" rel="{{ url('base_kmz', {race: race.id, id: 'trace_FULL'}) }}"></div>#}
<div id="map"></div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css">
{% endblock %}

{% block extra_js %}
{#
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;key=AIzaSyBoPyWhjCprSo0UyiaZqPFbZnkTVXQeZUc"></script>
#}
<script src="http://leafletjs.com/dist/leaflet.js"></script>
<script>
var map = L.map('map').setView([40.383, -3.717], 4);

L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
    key: 'BC9A493B41014CAABB98F0471D759707'
}).addTo(map);

function onEachFeature(feature, layer) {
    var popupContent = "<p>I started out as a GeoJSON " +
            feature.geometry.type + ", but now I'm a Leaflet vector!</p>";

    if (feature.properties && feature.properties.popupContent) {
        popupContent += feature.properties.popupContent;
    }

    layer.bindPopup(popupContent);
}

// http://tjv2013.regadata.local/json/tjv2013/sail/CL40_FRA130.json
// geojson/tjv2013/sail/IMOCA_FRA001.geojson
$.get("/geojson/tjv2013/sail/IMOCA_FRA001.geojson", function( data ) {
    // $(".result" ).html( data );
    // alert( "Load was performed." );
    var json = JSON.parse(data);
    console.log(json);
    L.geoJson(json).addTo(map);
});

// geojsonFeature =
// L.geoJson(geojsonFeature).addTo(map);

</script>
{% endblock %}
