{% extends 'layout.html.twig' %}

{% block container_content %}
        <h1>Documentation</h1>
        <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Index</th>
                <th>Value</th>
                <th>Description</th>
                <th>Unit / Format</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>rank</td><td>1</td><td>Ranking of the boat</td><td></td></tr>
            <tr><td>country</td><td>"FR"</td><td>Country</td><td></td></tr>
            <tr><td>sail</td><td>"FRA19"</td><td>Sail number</td><td></td></tr>
            <tr><td>skipper</td><td>"Armel Le Cléac'h"</td><td>Skipper</td><td></td></tr>
            <tr><td>boat</td><td>"Banque Populaire"</td><td>Boat name</td><td></td></tr>

            <tr><td>time</td><td>"10:00"</td><td>Time</td><td>HH:mi</td></tr>
            <tr><td>date</td><td>"2012-11-27"</td><td>Date</td><td>YYYY-MM-DD</td></tr>
            <tr><td>timestamp</td><td>1354014000</td><td>Unix Timestamp</td><td>Seconds</td></tr>

            <tr><td>lat_dms</td><td>"25°55.49'S"</td><td>Latitude</td><td>DMS - Degree Minute Seconds</td></tr>
            <tr><td>lon_dms</td><td>"18°59.69'W"</td><td>Longitude</td><td>DMS - Degree Minute Seconds</td></tr>
            <tr><td>lat_dec</td><td>-25.930277777778</td><td>Latitude</td><td>Decimal Degree</td></tr>
            <tr><td>lon_dec</td><td>-19.0025</td><td>Longitude</td><td>Decimal Degree</td></tr>

            <tr><td>1hour_heading</td><td>123</td><td>Last hour cape</td><td>Degrees</td></tr>
            <tr><td>1hour_speed</td><td>9.2</td><td>Last hour Speed</td><td>Knots</td></tr>
            <tr><td>1hour_vmg</td><td>9.1</td><td>Last hour Velocity Made Good</td><td>Knots</td></tr>
            <tr><td>1hour_distance</td><td>9.2</td><td>Last hour distance</td><td>Nautical Miles</td></tr>

            <tr><td>lastreport_heading</td><td>116</td><td>Cape since last report</td><td>Degrees</td></tr>
            <tr><td>lastreport_speed</td><td>8.4</td><td>Speed since last report</td><td>Knots</td></tr>
            <tr><td>lastreport_vmg</td><td>8.4</td><td>Velocity Made Good since last report</td><td>Knots</td></tr>
            <tr><td>lastreport_distance</td><td>25.1</td><td>Distance since last report</td><td>Nautical Miles</td></tr>

            <tr><td>24hour_heading</td><td>126</td><td>Last 24-hours cape</td><td>Degrees</td></tr>
            <tr><td>24hour_speed</td><td>12.9</td><td>Last 24-hours</td><td>Knots</td></tr>
            <tr><td>24hour_vmg</td><td>12.7</td><td>Last 24-hours</td><td>Knots</td></tr>
            <tr><td>24hour_distance</td><td>308.7</td><td>Last 24-hours</td><td>Nautical Miles</td></tr>

            <tr><td>dtf</td><td>19547</td><td>Distance To Final</td><td>Nautical Miles</td></tr>
            <tr><td>dtl</td><td>0</td><td>Distance To Leader</td><td>Nautical Miles</td></tr>
        </tbody>
        </table>
{% endblock %}
