<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>VG 2012 - JSON Format</title>
<link rel="stylesheet" type="text/css" href="/css/json-format.css" />
</head>

<body>
  <div id="json">
    <div class="collapser"></div>{

    <ul class="obj collapsible">
      <li>
        <div class="hoverable hovered">
          <span class="property">FRA19</span> :

          <div class="collapser"></div>{

          <ul class="obj collapsible">
            <li>
              <div class="hoverable">
                <span class="property">rank</span> : <span class="type-number">1</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">country</span> : <span class=
                "type-string">"FR"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">sail</span> : <span class=
                "type-string">"FRA19"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">skipper</span> : <span class="type-string">"Armel Le Cléac'h"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">boat</span> : <span class="type-string">"Banque Populaire"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">time</span> : <span class="type-string">"10:00"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">date</span> : <span class="type-string">"2012-11-27"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">timestamp</span> : <span class="type-number">1354014000</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lat_dms</span> : <span class="type-string">"25&deg;55.49'S"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lon_dms</span> : <span class="type-string">"18&deg;59.69'W"</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lat_dec</span> : <span class="type-number">-25.930277777778</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lon_dec</span> : <span class="type-number">-19.0025</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">1hour_heading</span> : <span class="type-number">123</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">1hour_speed</span> : <span class="type-number">9.2</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">1hour_vmg</span> : <span class="type-number">9.1</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">1hour_distance</span> : <span class="type-number">9.2</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lastreport_heading</span> : <span class="type-number">116</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lastreport_speed</span> : <span class="type-number">8.4</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lastreport_vmg</span> : <span class="type-number">8.4</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">lastreport_distance</span> : <span class="type-number">25.1</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">24hour_heading</span> : <span class="type-number">126</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">24hour_speed</span> : <span class="type-number">12.9</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">24hour_vmg</span> : <span class="type-number">12.7</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">24hour_distance</span> : <span class="type-number">308.7</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">dtf</span> : <span class="type-number">19547</span> ,
              </div>
            </li>

            <li>
              <div class="hoverable">
                <span class="property">dtl</span> : <span class="type-number">0</span>
              </div>
            </li>
          </ul>}
        </div>
      </li>
    </ul>}
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-328215-5']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
