body {
    padding-top: 51px;
    /*padding-bottom: 40px;*/
}

body#high {
    padding-top: 60px;
    /*padding-bottom: 40px;*/
}

body#normal .container {
    max-width: 100%;
}

/* http://stackoverflow.com/a/14258496 */
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
}

.navbar-fixed-top {
    margin-bottom: 0;
}

.navbar-brand span {
    background: url("/img/logo-20.png") no-repeat 0 0;
    padding-left: 25px;
}

.r {
    text-align: right !important;
}

.c {
    text-align: center !important;
    margin: 0 auto;
}

.t {
    vertical-align: top !important;
}

.borderleft {
    border-left: 3px solid #ddd !important;
}

.borderrigtht {
    border-right: 3px solid #ddd !important;
}

.chart {
    height: 200px;
}

.chart div.legend table {
    margin-top: -30px;
}

.togo {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#map {
    width: 100%;
    height: 500px;
}

#map img {
  max-width: none;
}

#map label {
  width: auto;
  display:inline;
}

.sail .progress {
    margin-top: 18px;
}

@media (max-width: 767px) {
    .navbar .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}