body {
    padding-top: 41px;
    /*padding-bottom: 40px;*/
}
/* http://stackoverflow.com/a/14258496 */
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
}

.brand span {
    background: url("/img/logo-20.png") no-repeat 0 3px;
    padding-left: 25px;
}

.r {
    text-align: right !important;
}

.c {
    text-align: center !important;
    margin: 0 auto;
}

.t {
    vertical-align: top !important;
}

.borderleft {
    border-left: 3px solid #ddd !important;
}

.borderrigtht {
    border-right: 3px solid #ddd !important;
}

.chart {
    height: 200px;
}

.chart div.legend table {
    margin-top: -30px;
}

.togo {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#map {
    width: 100%;
    height: 500px;
}
#map img {
  max-width: none;
}

#map label {
  width: auto;
  display:inline;
}

.navbar-fixed-top {
    margin-bottom: 0;
}