<?php
$app['config'] = array(
    'xlsDir'           => '/xls',
    'smDir'            => '/xml',
    'xmlDir'           => '/_xml',
    'jsonDir'          => '/web/json',
    'kmlDir'           => '/web/kml',
    'docRoot'          => '/web',

    'consumer_key'     => 'ENTER_HERE_YOUR_TWITTER_CONSUMER_KEY',
    'consumer_secret'  => 'ENTER_HERE_YOUR_TWITTER_CONSUMER_SECRET',

    'user_token'       => 'ENTER_HERE_YOUR_TWITTER_ACCESS_TOKEN',
    'user_secret'      => 'ENTER_HERE_YOUR_TWITTER_ACCESS_TOKEN_SECRET',

    'schema'           => 'http://',

    'smFileName'       => '-index.xml',
    'authIp'           => '127.0.0.1',

    'mongoHost'        => '127.0.0.1',
    'mongoPort'        => '27017',

    'facebook.app_id'  => 'FB_APP_ID',
    'facebook.secret'  => 'FB_APP_SECRET',
    'facebook.page_id' => 'FB_APP_PAGE_ID',
);

// Cache
$app['cache.path'] = __DIR__ . '/../cache';

// Http cache
$app['http_cache.cache_dir'] = $app['cache.path'] . '/http';

// Twig cache
$app['twig.options.cache'] = $app['cache.path'] . '/twig';

$app['assets.local'] = false;

$app['debug'] = false;